<div class="page-header">
  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_product_path(@product), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar Produto</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @product.name %></dd>

  <dt>Descrição:</dt>
  <dd><%= @product.description %></dd>

  <dt>Quantidade:</dt>
  <dd><%= @product.amount %></dd>

  <dt>Tipo produto:</dt>
  <dd><%= @product.type_product.name %></dd>

  <dt>Preço:</dt>
  <dd><%= "R$ #{@product.price}" %></dd>

</dl>
